// ===== Переменные =====
$color-1: #1C1814;
$color-1m: #14110E;
$color-2: #ffffff;
$color-3: #C99E71;
$color-3h: #ab7b49;
$color-4: #CECECE;

//  =================

.best-h3 {
   font-family: 'Righteous';
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   color: $color-2;
   span {
      color: $color-3;
   }
}